@{
    ViewBag.Title = Resources.Common.CompanyOverview;
}

<input type="hidden" class="activenavigation" value="about" />

<div id="view-company-overview">
    <div class="space-40"></div>

    <h3>@ViewBag.Title</h3>

    <p>@Resources.Common.BonveraIsABusiness</p>
    <p>@Resources.Common.BonveraGivesYou</p>
    <p>@Resources.Common.BonveraWasDesigned</p>
    <p>@Resources.Common.WelcomeToBonvera</p>

    <div class="space-30"></div>
</div>
