@{
    ViewBag.Title = Resources.Common.FAQ;
}

<input type="hidden" class="activenavigation" value="about" />

<div id="view-faq">
    <div class="space-40"></div>

    <h3>@ViewBag.Title</h3>

    <div class="space-20"></div>

    <ol>
        <li>
            <label>@Resources.Common.FAQ1Question</label><br />
            <p>@Html.Raw(Resources.Common.FAQ1Answer)</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ2Question</label><br />
            <p>@Resources.Common.FAQ2Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ3Question</label><br />
            <p>@Resources.Common.FAQ3Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ4Question</label><br />
            <p>@Resources.Common.FAQ4Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ5Question</label><br />
            <p>@Resources.Common.FAQ5Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ6Question</label><br />
            <p>@Resources.Common.FAQ6Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ7Question</label><br />
            <p>@Html.Raw(Resources.Common.FAQ7Answer)</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ8Question</label><br />
            @Html.Raw(Resources.Common.FAQ8Answer)           
        </li>
        <li>
            <label>@Resources.Common.FAQ9Question</label><br />
            <p>@Resources.Common.FAQ9Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ10Question</label><br />
            <p>@Resources.Common.FAQ10Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ11Question</label><br />
            <p>@Resources.Common.FAQ11Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ12Question</label><br />
            <p>@Resources.Common.FAQ12Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ13Question</label><br />
            <p>@Resources.Common.FAQ13Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ14Question</label><br />
            <p>@Resources.Common.FAQ14Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ15Question</label><br />
            <p>@Resources.Common.FAQ15Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ16Question</label><br />
            <p>@Resources.Common.FAQ16Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ17Question</label><br />
            <p>@Resources.Common.FAQ17Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ18Question</label><br />
            <p>@Html.Raw(Resources.Common.FAQ18Answer)</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ19Question</label><br />
            <p>@Html.Raw(Resources.Common.FAQ19Answer)</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ20Question</label><br />
            <p>@Html.Raw(Resources.Common.FAQ20Answer)</a></p>
        </li>
        <li>
            <label>@Resources.Common.FAQ21Question</label><br />
            <p>@Resources.Common.FAQ21Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ22Question</label><br />
            <p>@Resources.Common.FAQ22Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ23Question</label><br />
            <p>@Resources.Common.FAQ23Answer</p>
        </li>
        <li>
            <label>@Resources.Common.FAQ24Question</label><br />
            <p>@Html.Raw(Resources.Common.FAQ24Answer)</p>
        </li>
    </ol>
    
    <div class="space-30"></div>
</div>
