@{
    ViewBag.Title = Resources.Common.ShoppingCanPay;
}

<input type="hidden" class="activenavigation" value="about" />

<div id="view-product-section">
    <div class="space-40"></div>

    <h3 class="text-center">@ViewBag.Title</h3>
    <div class="space-10"></div>
    <h4 class="text-center">@Html.Raw(Resources.Common.TheCompensatedMarket)</h4>
    <div class="space-20"></div>

    <p>@Resources.Common.BusinessOwnershipStands</p>
    <p>@Resources.Common.BonverasLeadersHave</p>
    <ol>
        <li>@Resources.Common.BuildASustainable</li>
        <li>@Resources.Common.ShareProfitsWith</li>
        <li>@Resources.Common.PutTheAssociates</li>
        <li>@Resources.Common.CommitToPersonalIntegrity</li>
        <li>@Resources.Common.PositionTheCompany</li>
    </ol>
    <p>@Resources.Common.BonveraWillBringYour</p>

    <div class="space-30"></div>
    <h4>@Resources.Common.ANewStandard</h4>
    <p>@Resources.Common.BonverasLeadersKnow</p>
    <p>@Html.Raw(Resources.Common.AndSoHaveBonveras)</p>
    <p>@Html.Raw(Resources.Common.BonveraCallsThisUnique)</p>

    <div class="space-30"></div>
    <h4>@Resources.Common.TheUltimateShopping</h4>
    <p>@Resources.Common.BonveraTapsInto</p>
    <p>@Resources.Common.ShopSaveShare</p>

    <div class="space-30"></div>
    <h4>@Resources.Common.BonverasOwnSuperBrand</h4>
    <p>@Resources.Common.BonveraHasCreated</p>
    <p>@Resources.Common.FirstUpANatural</p>
    <p>@Resources.Common.NextANutrition</p>
    <p>@Resources.Common.OurePrivatLabelProducts</p>

    <div class="space-30"></div>
    <h4>@Resources.Common.EndlessPossibilities</h4>
    <p>@Resources.Common.BonveraEmbraces</p>
    <p>@Resources.Common.BonveraAssumesMost</p>    
    <p>@Resources.Common.LiveYourWishes</p>

    <div class="space-30"></div>
    <h4>@Resources.Common.FamilyFirstLast</h4>
    <p>@Resources.Common.BonverasLeadershipTeam</p>
    

    <div class="space-30"></div>
    <h4>@Resources.Common.YourNextStep</h4>
    <p>@Resources.Common.WeAreMenAndWomen</p>
    <p>@Resources.Common.ShopPeriod</p>    
    <p>@Resources.Common.SavePeriod</p>
    <p>@Resources.Common.SharePeriod</p>
    <p>@Resources.Common.BonveraPeriod</p>

    <div class="space-30"></div>
</div>
