@model Address
@{
    ViewBag.Title = "Your Account";
    Layout = "~/Views/Account/_Layout.cshtml";
    var hasInvalidAddressError = Request.QueryString["error"] != null;
}



<div class="row">
    <div id="view-addressoverview" class="col-sm-9">
        @if (hasInvalidAddressError)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>The address you have entered is not valid, please try again.</strong>
            </div>
        }
        
        @using (Html.BeginForm("saveaddress", "account"))
        {
            <div class="well">
                @Html.EditorFor(model => model, "Address")
                @Html.HiddenFor(model => model.AddressType)


                @if (Model.AddressType != AddressType.Main)
                {
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("MakePrimary") Save this as my primary address
                        </label>
                    </div>
                }
            </div>

            <button type="submit" class="btn btn-primary" data-loading-text="Loading...">Save Changes</button>
            <a href="@Url.Action("AddressList")" class="btn btn-link">Cancel</a>

            if (Model.AddressType != AddressType.New && Model.AddressType != AddressType.Main)
            {
                <span class="pull-right">
                    <a href="@Url.Action("DeleteAddress", new { type = Model.AddressType })" class="btn btn-default">Delete</a>
                </span>
            }

            @Html.AntiForgeryToken()
        }
    </div>
</div>
<div class="space-20"></div>

@section scripts
{

    <script>
        require(["jquery", "forms", "bootstrap"], function($, forms) {

            // Settings
            var context = "#view-addressoverview",
                $context = $(context);


            // Event Handlers
            function registerEventHandlers() {
                $("[type='submit']").on("click", function () {
                    $(this).button("Saving");
                    if (!$("form").valid()) {
                        $(this).button("reset");
                    }
                });
            }


            // Initialization
            function init() {
                registerEventHandlers();
            }
            init();

        });
    </script>
}