@model  List<Customer>



   
<div class="row text-center" id="multiplepeoplepartial">
    <h2>Please select the customer that you were searching for</h2>
    @foreach (var customer in Model)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row margin-12">
                    <div class="col-xs-12">
                        <h3>@customer.FullName - ID# @customer.CustomerID</h3>
                        <div class="space-10"></div>
                        <div class="row margin-12">
                            <div class="col-sm-3">
                                <label>Status: </label>
                                <span>@customer.CustomerStatus.CustomerStatusDescription</span>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary" data-action="load-customer" data-customerid="@customer.CustomerID">Select</button>
                            </div>
                            <div class="col-sm-3">
                                <label>Type: </label>
                                <span>@customer.CustomerType.CustomerTypeDescription</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    }

</div>

<script>
    require(["jquery", "ajax"], function ($, ajax) {

        // Settings

        // Event Handlers
        function registerEventHandlers() {


            $("[data-action='load-customer']", "#multiplepeoplepartial").on("click", function () {
                var id = $(this).data('customerid');
                window.trigger("myTeam.ChooseCustomer", id);
            })
        }




        // Actions
        var actions = {
        };


        // Initialization
        function init() {

            registerEventHandlers();
        }
        init();
    });
</script>